<article class="my-14 flex flex-col">
    <div class="text-center justify-around">
        <p class="text-gray-500">{{ post.createdAt|date('j M Y') }}</p>
        <p class="italic text-sm">by {{ post.user.name }}
            <img class="ml-2 object-scale-down h-14 w-14 rounded-full inline" src="{{ asset('images/' ~ app.user.image.path ?? '') }}" alt="profile image">
        </p>
        <h2 class="mb-10 text-6xl font-bold tracking-tighter mt-5">{{ post.title }}</h2>
        <hr>
        <p class="text-gray-500 mt-10 leading-8">{{ post.content }}</p>

        <div class="mt-6 w-full">
            <a href="{{ path('posts.index') }}" class=" inline font-bold border text-sm px-6 py-2 text-black rounded bg-white hover:bg-gray-100">{% trans %}Back{% endtrans %}</a>
        </div>

        {{ component('LikeComponent', {post: post}) }}

        {% if app.user and app.user.id != post.user.id %}
            {% if isFollowing %}
                <div>
                    You follow:&nbsp;
                    <a href="{{ path('posts.user', {id: post.user.id}) }}" class="text-green-500 hover:text-green-700">{{ post.user.name }}</a>
                </div>
            {% else %}
                <div>
                    <a href="{{ path('toggleFollow', {user: post.user.id}) }}" class="ml-3 inline font-bold text-sm px-6 py-2 text-white rounded bg-blue-500 hover:bg-blue-600">{% trans %}Follow the post author{% endtrans %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>

</article>