<article class="my-14 flex flex-col md:flex-row">
    <p class="mb-8 text-gray-500 mr-20">{{ post.createdAt|date('j M Y') }}</p>
    <div class="space-y-4">
        <h2 class="text-3xl font-bold tracking-widest">{{ post.title }}</h2>
        <p class="text-gray-500">{{ post.content|slice(0,500) ~ '...' }}</p>
        <p>
            <a href="{{ path('posts.show',{id: post.id}) }}" class="text-red-500 hover:text-red-900">Read more</a>
        </p>
        <div class="flex">
            {% if app.user and app.user.id == post.user.id %}
                <a href="{{ path('posts.edit',{id: post.id}) }}" title="Edit" class="mr-2 cursor-pointer">
                    {{ include('svgIcons/edit_icon.html.twig') }}
                </a>
                <form action="{{ path('posts.delete',{id: post.id}) }}" method="POST">
                    <button type="submit" onclick="return confirm('Are you sure ?')" title="Delete" class=" mr-2 cursor-pointer">
                        {{ include('svgIcons/delete_icon.html.twig') }}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
</article>
<hr>