<section>
    <header class="mb-6">
        <h2 class="text-lg font-medium text-gray-900">{% trans %}Profile Image{% endtrans %}</h2>
        <p class="mt-1 text-sm text-gray-600">{% trans %}Update your profile image{% endtrans %}</p>
    </header>

    <img class="ml-2 object-scale-down h-24 w-24 rounded-full inline" src="http://localhost:8000/images/test_image.jpg" alt="profile image">

    {{ form_start(imageForm, {'attr': {'class': 'mt-6 space-y-6'}}) }}

    <fieldset>

        {{ form_label(imageForm.imageFile, 'Choose File', {'label_attr': {'class': 'block mb-4'}}) }}
        {{ form_widget(imageForm.imageFile, {'attr': {'class': 'block w-full text-sm text-gray-500 file:mr-4 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:text-blue-700 hover:file:bg-blue-100 cursor-pointer'}}) }}

        {% if imageForm.imageFile.vars['errors']|length > 0 %}
            {% for error in imageForm.imageFile.vars['errors'] %}
                <span class="text-red-600 text-sm">{{ error.message }}</span>
            {% endfor %}
        {% endif %}

    </fieldset>
    <fieldset class="flex items-center gap-4 h-3">

        <button type="submit" class="px-4 py-2 text-sm text-white bg-indigo-600 rounded">{% trans %}Submit{% endtrans %}</button>

        {% for message in app.flashes('status-images') %}
            {% if message == 'image-updated' %}
                <p class="text-sm text-gray-600"
                   x-data="{show: true}"
                   x-show="show"
                   x-transition
                   x-init="setTimeout(() => show = false,2000)">{% trans %}Saved{% endtrans %}</p>
            {% endif %}
        {% endfor %}
    </fieldset>
    {{ form_end(imageForm) }}
</section>