<section>
    <header class="mb-6">
        <h2 class="text-lg font-medium text-gray-900">Update password</h2>
        <p class="mt-1 text-sm text-gray-600">Ensure your account is using a long, random password to stay secure.</p>
    </header>

    {{ form_start(passwordForm, {'attr': {'class': 'mt-6 space-y-6'}}) }}
    <fieldset>
        {{ form_label(passwordForm.currentPassword, 'Current password', {'label_attr': {'class': 'block mb-4'}}) }}
        {{ form_widget(passwordForm.currentPassword, {'attr': {'class': 'mt-1 block w-full p-1 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm'}}) }}

        {% if passwordForm.currentPassword.vars['errors']|length > 0 %}
            <ul class="mt-2 text-sm text-red-600 space-y-1">
                {% for error in passwordForm.currentPassword.vars['errors'] %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </fieldset>
    <fieldset>
        {{ form_label(passwordForm.newPassword.first, 'New password', {'label_attr': {'class': 'block mb-4'}}) }}
        {{ form_widget(passwordForm.newPassword.first, {'attr': {'class': 'mt-1 block w-full p-1 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm'}}) }}

        {% if passwordForm.newPassword.first.vars['errors']|length > 0 %}
            <ul class="mt-2 text-sm text-red-600 space-y-1">
                {% for error in passwordForm.newPassword.first.vars['errors'] %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </fieldset>
    <fieldset>
        {{ form_label(passwordForm.newPassword.second, 'Repeat password', {'label_attr': {'class': 'block mb-4'}}) }}
        {{ form_widget(passwordForm.newPassword.second, {'attr': {'class': 'mt-1 block w-full p-1 border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm'}}) }}

        {% if passwordForm.newPassword.second.vars['errors']|length > 0 %}
            <ul class="mt-2 text-sm text-red-600 space-y-1">
                {% for error in passwordForm.newPassword.second.vars['errors'] %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </fieldset>
    <fieldset class="flex items-center gap-4">

        {{ form_widget(passwordForm.save, {'attr': {'class': 'inline-flex items-center px-4 py-2 bg-gray-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-500 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150'}}) }}

        {% for message in app.flashes('status-password') %}
            {% if message == 'password-changes' %}
                <p class="text-sm text-gray-600"
                   x-data="{show: true}"
                   x-show="show"
                   x-transition
                   x-init="setTimeout(() => show = false,2000)">Saved</p>
            {% endif %}
        {% endfor %}
    </fieldset>
    {{ form_end(passwordForm) }}
</section>